/* Create 3 by 3 grid of seperate boxes using the divs */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 67, 91);
}

h1 {
    font-size: 60px;
    letter-spacing: 2px;
    color: rgba(245, 245, 245, 0.954);
}

h2 {
    text-align: center;
    color: rgba(245, 245, 245, 0.954);
    margin: 10px;
    font-size: 30px;
    animation-name: none;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h2 span {
    margin-left: 5px;
}

.tictactoe-board {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr ;
    grid-template-rows: 3fr 3fr 3fr;
    height: 485px;
    width: 485px;
    margin: 20px;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    padding: 5px;
    font-size: 165px;
    animation-name: none;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section div:hover {
    transition: 0.5s ease;
    background-color: rgb(7, 56, 75);
}


.row2 {
    border-top: 2px solid rgba(245, 245, 245, 0.701);
    border-bottom: 2px solid rgba(245, 245, 245, 0.701);;
}

.col2 {
    border-right: 2px solid rgba(245, 245, 245, 0.701);
    border-left: 2px solid rgba(245, 245, 245, 0.701);
}

button {
    background-color: rgb(8, 67, 91);
    color: rgba(245, 245, 245, 0.954);
    font-size: 53px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: green
}

.outcome {
    color: rgb(5, 204, 5);
    font-size: 60px;
    margin: 0;
    animation-name: flashing;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flashing {
    from {color: rgb(0, 92, 0);}
    to {color: rgb(0, 255, 0);}
  }

