/* Create 3 by 3 grid of seperate boxes using the divs */

section {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr ;
    grid-template-rows: 3fr 3fr 3fr;
    height: max-content;
    width: max-content;
    gap: 10px;
}

section div {
    height: 150px;
    width: 150px;
    border: 2px solid black;
}